

body{
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: 100px 200px 50px 50px 50px;
    grid-row-gap: 40px;
    grid-column-gap: 10px;
    width: 900px;
    margin: 0;
    padding: 5px;
    text-align: center;
    background-image: url('https://i.imgur.com/4gPXpDO.mp4')
    
}
.card{
    border: 1px solid black;
    background-color: white;
    height: 200px;
    width: 150px;
    position: relative;
    border-radius: 5px;
    margin: 20px;
    user-select: none;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.playerCard{
    background-color: black;
    color: thistle;
    font-size: 50px;
    cursor: pointer;
}

.compCard{
    background-color: white;
    color: black;
    font-size: 50px;
    border: none;
}
.result{
    grid-column: span 4;
    display: flex;
    justify-content: center;
    font-size: 10px;
    padding: 40px 0px 120px 0px;
}

.button{
    margin: 10px;
}
.cardTwo{
    display: flex;
    justify-content: center;
    align-items:center;
    border: '' ;
    border-radius: 5px;
    height: 200px;
    width: 150px;
    position: relative;
    margin: 20px;
    user-select: none;
    padding: 5px;

}

.win{
    grid-column: span 4;
   
    color: red;
    
}

.title{
    grid-column: span 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

#playerChoice{
    color: '';
}
#computerChoice{
    color: '';
}