

body {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: 200px 300px 50px;
    grid-row-gap: 40px;
    margin: 0;
    padding: 5px;
    cursor: pointer;
    /* background-image: url('https://thumbs.gfycat.com/LegalPepperyCranefly-max-1mb.gif');
    background-size: small; */
    
}
.card{
    border: 1px solid black;
    background-color: white;
    height: 200px;
    width: 150px;
    position: relative;
    border-radius: 5px;
    margin: 20px;
    user-select: none;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.playerCard{
    background-color: black;
    color: thistle;
    font-size: 50px;
}

.compCard{
    background-color: thistle;
    color: black;
    font-size: 50px;
}
.result{
    grid-row: span 3;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 10px;
    padding: 0px 0px 120px 0px;
}

.button{
    margin: 10px;
}

.cardTwo{
    display: flex;
    justify-content: center;
    align-items:center;
}